*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*
.container-fluid{
    width: 995px;
    height: 1000px;
    background: #eee;
}
*/


nav{
    background: #2D2654;
    border: 1px solid #000 ;
    
}

.my-col{
    border: 2px dotted red;
    background: #fff;
}
.my-row{
    background: #eee;
    height: 700px;
}

.col1-row1{
    border: 2px solid yellow
}

.row3-col1{
 border: 2px dotted red;   
}

.row3-col2{
    border: 2px dotted red;   
   }

   .col-about-me{
       border: 2px dotted green ;
   }

   .col-intro{
    border: 2px dotted green ;
}

 













