body{
    font-size: 15px!important;
}



*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*
.container-fluid{
    width: 995px;
    height: 1000px;
    background: #eee;
}
*/


nav{
    background: #2D2654;
    border: 1px solid #000 ;
    
}

.my-col{
    
    background: #fff;
}
.my-row{
    background: #eee;
    height: 100%;
}

.col1-row1{
    
}

.row3-col1{
   
}

.row3-col2{
    border-left: 1px dotted #777;
       
   }

.col-about-me{
       border-bottom: 1px dotted #777 ;
       
}

.col-about-me h2{
    font-weight: bolder;
    color:  #2D2654;
}


.col-contact-me{
    border-bottom: 1px dotted#777 ;
    
}

.col2--row2{
    border-bottom: 1px dotted #777;
}

h4{
    color: #2D2654;
}

.lable-1{
    margin-bottom: 30px;
    
}

.btn{
    border: 2px solid red;
}




/*
the profile image of Dr. Steven
*/


.iframe-scroll{
    border: 1px solid #eef;
    border-radius: 5px;
    max-height: 400px;
    max-width: 270px;
    overflow: scroll;
}



.fotter-a{
    color: #2D2654;
    text-decoration: none;
    
}





.blog-1-link{
    text-decoration: none;
    color: #2D2654;
}

.Books-1-link{
    color: #2D2654;
    
}

@media all and (max-width:1200px){
    .blog-img{
        width:500px;
    }
}

@media all and (max-width:1200px){
    .blog-img{
        width:500px;
    }
}

@media all and (max-width:810px){
    .blog-img{
        width:300px;
    }
}

@media all and (max-width:630px){
    .blog-img{
        width:200px;
    }
}

@media all and (max-width:430px){
    .blog-img{
        width:150px;
    }
}

@media all and (max-width:325px){
    .blog-img{
        width:100px;
    }
}

@media all and (max-width:230px){
    .blog-img{
        width:70px;
    }
}



















































